<h1>My Dashboard</h1>
<p>You are logged in.</p>

<ul>
    <li>Email: {{user.email}}</li>
    <li>Username: {{user.display_name}}</li>
    <li>Country: {{user.country}}</li>
</ul>

<a href="/spotify/logout">Logout</a>


<div class="articles">
    <h2>Latest News Articles</h2>

    {{#each articles}}
        <section>
            <img src="{{urlToImage}}">
            <div class="article-text">
                <h3>{{title}}</h3>
                <p>{{description}}</p>
                <a href="#" class="btn getSongs">Get Songs</a>
                <a href="{{url}}" class="btn visitArticle">Visit Article</a>
            </div>
        </section>
    {{/each}}
</div>